{
  "extends": [
    "standard",
    "prettier",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "vue",
    "html"
  ]
}
