{
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "rules": {
    "quotes": [
      2,
      "double"
    ],
    "semi": [
      2,
      "never"
    ]
  },
  "plugins": [
    "prettier",
    "html"
  ]
}
