@font-face {
  font-family: "ArchivoBlack";
  src: url("/build/fonts/ArchivoBlack-Regular.woff2") format("woff2"),
       url("/build/fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
