.sans-serif {
  font-family: "Helvetica Neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

.fonts-loaded .archivo-black {
  font-family: "ArchivoBlack", sans-serif;
}

.invisible {
  transition: 400ms;
  transform: translate3d(0, 100px, 0) scale(0.9);
  opacity: 0;
}

.visible {
  transition: 400ms;
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.col {
  float: left;
  margin-right: gutter();

  &.last {
    margin-right: 0;
  }
}

@for $span from 1 through length(susy-get("columns")) {
  .col-#{$span} {
    width: span($span);
  }
}

@media screen and (min-width: 30em) {
  @for $span from 1 through length(susy-get("columns")) {
    // .className-ns

    .col-#{$span}-ns {
      width: span($span);
    }
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  // .className-m

  @for $span from 1 through length(susy-get("columns")) {
    .col-#{$span}-m {
      width: span($span);
    }
  }
}

@media screen and (min-width: 60em) {
  // .className-l

  .bg-transparent-l {
    background-color: transparent;
  }

  @for $span from 1 through length(susy-get("columns")) {
    .col-#{$span}-l {
      width: span($span);
    }

    .push-#{$span}-l {
      margin-left: span($span wide);
    }
  }
}

@media screen and (min-width: 80em) {
  // .className-xl

  @for $span from 1 through length(susy-get("columns")) {
    .col-#{$span}-xl {
      width: span($span);
    }
  }
}
